form{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
input{
    height: 5vh;
    margin-bottom: 3%;
    border: 1px solid #0000001e;
}
label{
    margin-bottom: 1%;
}
button{
    height: 5vh;
    width: 10vw;
    border: none;
    border-radius: 5px;
    background-color: lightgreen;
    color: #ffffff;
}
th{
    background: #c5c5c5;
}
table{
    border: 1px solid #0000001e;
}